# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular build
dist/
tmp/
temp/

# Environment files
.env
.env.*
*.local

# IDE files
.vscode/
.idea/

# Logs
*.log
logs/

# OS-generated
.DS_Store
Thumbs.db
